* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #1a1a1a;
    --secondary-color:#fff;
    --servicecard-color:#333;
    --servicecardtext-color:#ccc;


}

.light-theme{
    --primary-color: #fff;
    --secondary-color:#1a1a1a;
    --servicecard-color:#e1dcdc;
    --servicecardtext-color:#1a1a1a;
}

#icon{
    width: 30px;
    cursor: pointer;
}
body {
    font-family:poppins;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color); 
    color: var(--secondary-color); 
}

header {
    background-color: var(--primary-color); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    height: 80px;
    align-items: center;
    background-color: var(--primary-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.left {
    font-size: 36px;
    margin: 20px 0 0 50px;
    color: #ffc107;
}

.right {
    margin: 0 20px 0 auto;
    font-size: 20px;
    color: var(--secondary-color);
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 0px 20px;
    list-style: none;
}

nav ul li + li {
    margin-left: 10px;
}


nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    position: relative;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: transparent;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #ffc107;
}

nav ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
    background-color: #ffc107;
}


.mainbody {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
    background-color: var(--primary-color);
    padding: 50px;
    border-radius: 20px; 
}

.content-container {
    display: flex;
    width: 80%; 
}

.mainbodyleft {
    margin-top: 100px;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    padding: 20px;
    color: var(--secondary-color);
}

.mainbodyleft h1 {
    font-family: poppins;
    font-size: 3rem;
    color: #ffc107; 
}

.mainbodyleft p {
    font-family: Truculenta;
    font-size: 2rem;
}

#element {
    color: #e74c3c; 
}

.mainbodyleft .logo img {
    margin-right: 10px;
}

.mainbodyright {
    width: 50%;
    margin: 20px;
}

.mainbodyright img {
    
    width: 80%;
    height: 95%;
    border-radius: 10px; 
    margin: 20px; 
}

.mainbodyleft .logo img:hover {
    transform: scale(1.2); 
    transition: transform 0.3s ease-in-out; 
}


.secondSection {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
    background-color: var(--primary-color); 
    padding: 30px;
    border-radius: 20px; 
}

.secondSectionLeft {
    width: 40%;
    padding :10px;
}

.secondSectionLeft img {

    width: 100%;
    height: 60%;
    border-radius: 15px; 
    
}

.secondSectionRight {
    width: 60%;
    padding: 0 20px;
    margin-top: 0px;
}

.secondSectionRight span {
    display: block;
    text-align: center;
    color: #ffc107; 
    font-size: 28px; 
    margin-bottom: 20px;
    margin-top: 0px;
}

.secondSectionRight h2 {
    color: var(--secondary-color); 
    font-size: 2.5rem; 
}

.secondSectionRight p {
    font-size: 1.4rem;
    --secondary-color:#fff;
    line-height: 1.6;
    margin-bottom: 20px;
}

.secondSectionRight ul {
    display: flex;
    list-style-type: square;
    justify-content: space-around;
}

.secondSectionRight ul li {
    font-size: 1.8rem;
    --secondary-color:#fff;
    margin-bottom: 10px;
    margin-left: 20px;
}

.service-card img {
    width: 30%; 
    height: 70%; 
    border-radius: 10%; 
    padding :10px;
}

.service-heading{
    display: flex;
    justify-content: center;
    margin-top:20px;
    color:#ffc107;
}

.services-container {
    display: grid;
    grid-template-columns: 450px 450px 450px;
    gap: 20px;
    background-color: var(--primary-color);
    padding: 0px 50px 0px 50px;
    text-align: center;
    border-radius: 20px;
    margin-top: 10px;
}

.service-card {
     background-color: var(--servicecard-color);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service-card:hover {
    background-color: #444;
    transition: background-color 0.3s ease-in-out;
}

.service-title {
    font-size: 24px;
    color: #ffc107;
    margin-bottom: 10px;
}

.service-description {
    font-size: 1.2rem;
    color: var(--servicecardtext-color); 
}


.projects-container {
    background-color: var(--primary-color); 
    padding: 50px;
    text-align: center;
    border-radius: 20px; 
}

.project-card {
    background-color: var(--servicecard-color); 
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.project-icon {
    font-size: 40px;
    color: #ffc107;
    margin-bottom: 20px;
}

.project-title {
    font-size: 24px;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.project-description {
    font-size: 1.2rem;
    color: var(--servicecardtext-color);
}

.project-link {
    display: inline-block;
    margin-top: 20px;
    background-color: #ffc107;
    --secondary-color:#fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
  
.project-link:hover {
    background-color: #f0f06c;
}

.contact-container h1{
    font-size: 3rem;
    padding :20px;
    text-align: center;
}
.contact-form {
    display: flex;
    justify-content: center;
    
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 1.2rem;
    color: #ffc107;
}

.form-group input{
     width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #444;
}

.form-group input[type="text"] {
    border-color: #444; 
}


.form-group textarea{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #444;
}

.submit-btn {
    background-color: #ffc107;
    color: #333;
    padding: 12px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #333;
    color: #ffc;
}

.notification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 9999;
}






@media only screen and (min-width: 1024px) {
   
}

/* For tablet screens */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .left{
        font-size: 28px;
        margin: 0 20px 0 auto;
    }

    .mainbodyleft h1 {
        font-size: 2.8rem;
    }

    

    .mainbodyleft p { 
        font-size: 1.8rem;
    }

    .content-container {
       width: 100%;
       
    }

    .secondSectionRight ul {
        display: block;
        list-style-type: square;
        justify-content: space-around;
    }
    
    .secondSectionRight p {
        font-size: 1.4rem;
        color: #ecf0f1; 
        line-height: 1.4;
        margin-bottom: 20px;
    }

    .secondSectionLeft img {
        width: 100%;
        height: 100%;
        border-radius: 5px; 
    }

    .secondSectionLeft {
        width: 40%;
        padding :5px;
    }

    .services-container {
        display: grid;
        grid-template-columns: 721px;
        gap: 25px;
    }
}

@media only screen and (max-width: 767px) {
    .left {
        font-size: 24px; 
        margin: 0 auto; 
    }

    .mainbodyleft h1 {
        font-size: 2.5rem; 
    }

    .mainbodyleft p {
        font-size: 1.4rem; 
    }

    .content-container {
        width: 90%; 
        margin: 0 auto; 
    }

    .secondSectionRight ul {
        display: block; 
        list-style-type: square;
        margin: 0 auto; 
        padding-left: 20px; 
    }

    .secondSectionRight p {
        font-size: 1.2rem; 
        line-height: 1.6; 
        margin-bottom: 15px; 
    }

    .secondSectionLeft img {
        width: 100%; 
        height: auto; 
        border-radius: 5px; 
    } 

    .secondSectionLeft {
        width: 100%;
        padding: 0 10px; 
    }

    .services-container {
        display: grid;
        grid-template-columns: 100%; 
        gap: 15px;
        padding: 0 10px; 
    }
}
